
.app-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-menu-container {
    padding: 20px;
    flex: 0 0 auto;
  }

  .app-content {
    width: 100%;
    padding: 40px;
    flex: 1 1;
    display: flex;
    justify-content: center;
    overflow: auto;

    .board {
      margin: auto;
      cursor: crosshair;

      .h {
        stroke-width: 4;
      }

      .lines {
        stroke: #888;
      }

      .highlight-rect {
        stroke: #444;
        fill: rgba($color: #ff8, $alpha: 0.2);
      }
    }
  }
}
